---
import {greet_ts} from "@/modules/greeter";
let name = "{{ name }}";
---

<html lang="en">
	<head>
		<title>Hello, {name}!</title>
		<script>
			import "@/modules/main";
		</script>
	</head>
	<body>
		<h2>Hello from HTML, {name}!</h2>
		<h2>{greet_ts(name)}</h2>
		<h2 id="greet_rs-target" name={`${name}`}></h2>
		<h2>{`{{ greet_py(name) }}`}</h2>
		<h2>{`{{ greet_rs(name) }}`}</h2>
	</body>
</html>
